body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #182026;
}

body, #root {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pt-popover:not(.pt-minimal) .pt-popover-content {
  padding: 20px;
}

a {
  color: #f5f8fa !important;
}

table {
  width: 100%;
}
