body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #182026;
}

body, #root {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pt-popover:not(.pt-minimal) .pt-popover-content {
  padding: 20px;
}

a {
  color: #f5f8fa !important;
}

table {
  width: 100%;
}

.pt-dark .pt-input {
  background: rgba(16, 22, 26, 0.64) !important;
}

/* reset margins on blueprint js components */
.pt-input, .pt-label, hr {
  margin: 0 !important;
}

